.template-blog-new {
  display: grid;
  margin-bottom: 35px;
  gap: 30px;
  @include minWidth(1200px) {
    grid-template-columns: 1fr 283px;
    column-gap: 30px;
  }
  .after-loop-wrapper-news {
    margin-top: 40px;
  }
}
.list-news-overlay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @include minWidth(768px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .img{
    margin-bottom: 0;
  }
  .item-news-overlay {
    &:first-child {
      grid-row: 1 / span 2;
      .img {
        padding-top: 78%;
      }
      .text {
        padding: 0 30px 19px 30px;
      }
    }
  }
}
.item-news-overlay {
  position: relative;
  .img {
    padding-top: 75%;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
    }
    &::after {
      content: "";
      background: linear-gradient(
        180deg,
        rgba(18, 31, 56, 0) 57%,
        rgba(18, 31, 56, 0.608) 79.8%,
        rgba(18, 31, 56, 0.8) 94%
      );
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $light;
    padding: 0px 30px 10px 30px;
    width: 100%;
    h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    p {
      font-size: 13px;
      line-height: 2;
      letter-spacing: 0.26px;
    }
  }
}
.list-news-vertical {
  margin-top: 30px;
  .item-news-vertical {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.item-news-vertical {
  display: grid;
  align-items: center;
  box-shadow: 0px 2px 8px 0px #d1725338;
  border-radius: 20px;
  overflow: hidden;
  @include minWidth(768px) {
    grid-template-columns: 302px 1fr;
    height: 225px;
  }
  .img {
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .text {
    padding: 32px 34px;
    h3 {
      font-size: 20px;
      line-height: 1.5;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      color: $main-01;
      a {
        transition: all 0.3s;
        &:hover {
          color: initial;
        }
      }
    }
    p {
      font-size: 13px;
      line-height: 2;
      letter-spacing: 0.26px;
    }
    .des {
      color: $gray-01;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      margin-top: 8px;
    }
  }
}
.side-bar-child-page {
  .box-cate-pr {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.title-side-bar {
  background: linear-gradient(75.84deg, #e72b29 20.81%, #f26d42 95.07%);
  color: $light;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.27;
  padding: 10px 9px 8px 9px;
  border-top-right-radius: 20px;
}
.list-news-spotlight {
  margin-top: 20px;
  .item-blog-new {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .text {
    margin-top: 12px;
  }
  h3 {
    font-size: 17px;
    line-height: 1.7;
  }
  p {
    font-size: 13px;
    color: $grey-6;
  }
}
.list-news-latest {
  margin-top: 20px;
  .item-news-vertical {
    height: 100%;
    grid-template-columns: 90px 1fr;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .img {
      height: 75px;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 0;
      img {
        height: 100%;
      }
    }
    .text {
      padding: 0 13px 0;
      h3 {
        font-size: 16px;
        -webkit-line-clamp: 2;
        margin-bottom: 0;
      }
      p {
        font-size: 11px;
        letter-spacing: 0;
        color: $grey-6;
      }
    }
  }
}
